<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fighting with computer</title>
  <link rel="stylesheet" href="./styles/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
  <div id="app" class="page-container">
    <section class="health-info-section">
      <div class="health-container">
        <p class="health-owner">You &#128528;</p>
        <div class="health-wrapper">
          <div class="healt" :style="{'width': gamerHealth+'%'}"><span>{{ gamerHealth }}%</span></div>
        </div>
      </div>
      <div class="health-container">
        <p class="health-owner">MONSTER &#128050;</p>
        <div class="health-wrapper">
          <div class="healt" :style="{'width': monsterHealth+'%'}"><span>{{ monsterHealth }}%</span></div>
        </div>
      </div>
    </section>
    <section v-if="gameIsOver" class="gave-over-info-container">
      <p class="game-over-text">gave is over</p>
      <p v-if="winnerIs ===  'gamer'" class="win-text">you have won &#10004;</p>
      <p v-if="winnerIs ===  'monster'" class="lose-text">you have lost &#10006;</p>
      <button>try again</button>
    </section>
    <section class="actions-container">
      <button @click="attack" :class="{'game-is-over': gameIsOver}" class="action-button action-attack">attack</button>
      <button @click="specialAttack" :class="[{'game-is-over': gameIsOver}, {'game-is-over': specialAttackUnactive}]" class="action-button action-special-attack">special attack</button>
      <button @click="heal" :class="{'game-is-over': gameIsOver}" class="action-button action-heal">heal</button>
      <button @click="giveUp" :class="{'game-is-over': gameIsOver}" class="action-button action-give-up">give up</button>
    </section>
    <section class="result-section"></section>
  </div>
  <script src="./scripts/script.js"></script>
</body>
</html>