* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

.page-container {
  width: 1200px;
  height: auto;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.health-info-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.health-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
}

.health-owner {
  font-size: 20px;
  text-transform: uppercase;
}

.health-wrapper {
  width: 80%;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #bbb
}

.healt {
  height: 100%;
  background-color: #cfc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gave-over-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-over-text {
  text-transform: uppercase;
  color: #f0ad4e;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.win-text {
  color: #28a745;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lose-text {
  color: #dc3545;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  box-shadow: 0px 0px 2px 1px #ddd;
  border-radius: 3px;
  padding: 20px;
}

.action-button {
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  border: 4px solid #ddd;
  letter-spacing: 1px;
}

.action-button:hover {
  box-shadow: 0px 0px 1px 1px #ddd;
}

.action-button:active {
  box-shadow: 0px 0px 1px 1px #ddd inset;
}

.try-again {
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  background-color: #28a745;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-attack {
  background-color: #dc3545;
  color: #fff;
}

.action-special-attack {
  background-color: #ffc107;
  color: #fff;
}

.action-heal {
  background-color: #28a745;
  color: #fff;
}

.action-give-up {
  background-color: #fff;
  color: #6c757d;
}

.game-is-over {
  opacity: 0.4;
  box-shadow: none;
}

.game-is-over:hover {
  box-shadow: none;
}

.game-is-over:active {
  box-shadow: none;
}

.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  box-shadow: 0px 0px 2px 1px #ddd;
  border-radius: 3px;
  padding: 20px;
}

